:root {
  /* Змінні для кольорів */

  --white: #ffffff;
  --background-accent: #2f303a;
  --background-grey: #f5f4fa;
  --text-color-main: #212121;
  --text-color: #757575;
  --accent-text-color: #2196f3;
  --address-color: rgba(255, 255, 255, 0.6);
  --button-hover: #188ce8;
  --border-portfolio: #eeeeee;
  --icons-color: #afb1b8;
  --services-color: rgba(47, 48, 58, 0.8);
  --portfolio-overlay: rgba(33, 150, 243, 0.9);
  --form-input: rgba(33, 33, 33, 0.2);

  /* Змінна для transition */

  --transition-cubik: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Колір і шрифт для body */

body {
  background-color: var(--white);
  color: var(--text-color-main);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стилізація header */
/* logo */

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  margin-right: 93px;

  color: var(--text-color-main);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo .web {
  color: var(--accent-text-color);
}

/* Посилання по сайту */
.header .container {
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list .item + .item {
  margin-left: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color-main);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .link.current {
  position: relative;
  color: var(--accent-text-color);
}

.nav-list .link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-color);
}

.address.link {
  display: flex;
  align-items: center;

  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus {
  color: var(--accent-text-color);
}

.address-list {
  display: flex;
  margin-left: auto;
}

.address-list .item + .item {
  margin-left: 30px;
}

.address-list-icon {
  fill: currentColor;

  margin-right: 10px;
}

/* hero */

.hero {
  max-width: 1600px;
  padding: 200px 0;
  background-color: var(--background-accent);

  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../image/hero/team-hero.jpg');

  background-repeat: no-repeat;

  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;

  min-width: 200px;
  height: 50px;

  background-color: var(--accent-text-color);
  color: var(--white);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;

  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color 250ms var(--transition-cubik);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-hover);
}

/* Модальне вікно */

.backdrop {
  position: fixed;

  top: 0;
  left: 0;

  z-index: 2;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--transition-cubik);
}

.backdrop.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;

  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  transition: transform 250ms var(--transition-cubik);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.close-modal {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  border-radius: 50%;
  cursor: pointer;

  transition: fill 250ms var(--transition-cubik);
}

.close-modal:hover,
.close-modal:focus {
  fill: var(--accent-text-color);
}

/* Стилізація форми */

.form-modal-title {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
}

.register-form-group {
  margin-bottom: 20px;
}

.form-modal-label {
  display: block;
  margin-bottom: 4px;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--text-color);
}

.form-modal-input,
.form-modal-textarea {
  padding: 12px;
  padding-left: 42px;

  width: 100%;
  height: 40px;

  border: 1px solid var(--form-input);
  border-radius: 4px;

  outline: transparent;

  transition: border-color 250ms var(--transition-cubik);
}

.form-modal-textarea {
  height: 120px;
  resize: none;

  padding: 12px 16px;
}

.form-modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  transition: border-color 250ms var(--transition-cubik);
}

.form-modal-group {
  position: relative;
  display: block;

  margin-bottom: 10px;
}

.form-modal-group:last-child {
  margin-bottom: 0;
}

.form-modal-icon {
  position: absolute;
  display: block;

  fill: var(--text-color-main);

  bottom: 11px;
  left: 12px;

  transition: fill 250ms var(--transition-cubik);
}

.form-modal-input:hover,
.form-modal-input:focus,
.form-modal-textarea:focus,
.form-modal-textarea:hover {
  border-color: var(--accent-text-color);
}

.form-modal-input:hover + .form-modal-icon,
.form-modal-input:focus + .form-modal-icon {
  fill: var(--accent-text-color);
}

.form-modal-checkbox {
  appearance: none;
}

.form-modal-checkbox:checked + .form-modal-icon-agreement .form-modal-icon-agreement-uncheck {
  opacity: 0;
  transition: opacity 250ms var(--transition-cubik);
}

.form-modal-checkbox:checked + .form-modal-icon-agreement .form-modal-icon-agreement-check {
  opacity: 1;
}

.form-modal-icon-agreement-check {
  opacity: 0;
  transition: opacity 250ms var(--transition-cubik);
}

.modal-checkbox-agreement {
  display: block;
  user-select: none;
}

.form-modal-group-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  margin-bottom: 30px;
}

.modal-checkbox-agreement {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  text-align: left;

  color: var(--text-color);
}

.form-agreement-link {
  color: var(--accent-text-color);

  text-underline-position: under;
}

.modal-button-submit {
  padding: 10px 52px;

  border-radius: 4px;
  background-color: var(--accent-text-color);
  border: none;
  color: var(--white);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition: background-color 250ms var(--transition-cubik);
}

.modal-button-submit:hover,
.modal-button-submit:focus {
  background-color: var(--button-hover);
}
/* Наші переваги */

.benefits-recktangl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-grey);
  border-radius: 4px;
  margin-bottom: 30px;
}

img {
  display: block;
}

.section.benefits {
  padding-bottom: 0;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
}

.benefits-item {
  width: 270px;
}

.benefits-item + .benefits-item {
  margin-left: 30px;
}

.benefits-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Чим ми займаємось */
.services-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-thumb {
  position: relative;
}

.services-text {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;

  background-color: var(--services-color);
  color: var(--white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
}

/* Наша команда */
.section.team {
  background-color: var(--background-grey);
}

.team-list {
  display: flex;
}

.team-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--white);

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-item + .team-item {
  margin-left: 30px;
}

.team-title {
  margin-bottom: 50px;

  text-align: center;

  font-size: 36px;
  line-height: 1.17;
}

.team-wrapper {
  padding: 30px 32px;
}

.team-text {
  margin-bottom: 16px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-social-list {
  display: flex;
  justify-content: space-between;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--icons-color);

  transition: color 250ms var(--transition-cubik), background-color 250ms var(--transition-cubik);
}

.team-social-link:hover,
.team-social-link:focus {
  color: var(--white);
  background-color: var(--accent-text-color);
}

.team-icon {
  fill: currentColor;
}

/* Постійні клієнти */

.client-title {
  margin-bottom: 50px;

  text-align: center;

  font-size: 36px;
  line-height: 1.17;
}

.client-list {
  display: flex;
  gap: 30px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  border-radius: 4px;

  color: var(--icons-color);
  border: 1px solid var(--icons-color);

  transition: border 250ms var(--transition-cubik), color 250ms var(--transition-cubik);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-text-color);
  color: var(--accent-text-color);
}

.client-logo {
  fill: currentColor;
}

/* footer */

.page-footer {
  padding: 60px 0;
  background-color: var(--background-accent);
}

.contact {
  font-style: inherit;
}

.contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-list .map {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white);
}

.logo.footer {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
  color: var(--white);
}

.contact-link {
  color: var(--address-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  vertical-align: top;

  transition: color 250ms var(--transition-cubik);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-text-color);
}

.footer-title {
  margin-bottom: 20px;

  color: var(--white);
  text-transform: uppercase;

  font-size: 14px;
  line-height: 1.14;
}

.footer-social-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);

  transition: background-color 250ms var(--transition-cubik);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-text-color);
}

.footer-icon {
  fill: currentColor;
}

.page-footer .container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

/* Footer-form */

.container-footer {
  margin-left: auto;
}

.footer-form {
  display: flex;
}

.footer-form-input {
  padding: 15px 16px;
  min-width: 358px;
  height: 50px;

  margin-right: 12px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white);
}

.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: var(--address-color);
}

.footer-form-button {
  display: flex;
  align-items: center;
  gap: 10px;

  width: 200px;
  height: 50px;
  padding: 13px 28px;

  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;

  border: none;
  border-radius: 4px;

  background-color: var(--accent-text-color);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Сторінка портфоліо */
/* Кнопки-фільтр */

.btn-list {
  display: flex;

  justify-content: center;
}

.btn-item + .btn-item {
  margin-left: 8px;
}

.btn-list .filter {
  padding: 6px 22px;
  background-color: var(--background-grey);
  border: none;
  border-radius: 4px;

  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  transition: background-color 250ms var(--transition-cubik), color 250ms var(--transition-cubik),
    box-shadow 250ms var(--transition-cubik);
}

.btn-list .filter:hover,
.btn-list .filter:focus {
  background-color: var(--accent-text-color);
  color: var(--white);

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filter.active-btn {
  background-color: var(--accent-text-color);
  color: var(--white);

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  margin-top: 56px;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-link {
  display: block;

  transition: box-shadow 250ms var(--transition-cubik);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-main);
}

.portfolio-filter {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-text {
  padding: 20px 24px;

  border: 1px solid var(--border-portfolio);
  border-top: none;
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: block;
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;

  padding: 63px 24px;

  color: var(--white);
  background-color: var(--portfolio-overlay);

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}
